//Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Variables
$base-spacing: 1em;
$font-stack: 'Open Sans', sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$small: .75em;
$medium: 1em;
$large: 2em;
$x-large: 3em;
$color-main: #000000;
$color-mute: #CDD2E1;
$color-bg: #ffffff;
$color-highlight: #5F6370;
$a-tags: 'a, a:active, a:hover, a:visited';

body {
	font-family: $font-stack;
	font-size: $medium;
	font-weight: $normal;
	color: $color-main;
}

#{$a-tags} {
	color: $color-main;
	text-decoration: none;
}

.header {
	position: relative;
	display: block;
	text-align: center;
	padding-top: $large;
	margin-bottom: $x-large;
	
	.logo {
		width: 645px;
		height: 112px;
	}
}

.gauges-furnace {
	
	.gauges { //col
		
		hr {
			border: 0;
			height: 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			width: 50%;
			text-align: center;
		}
		
		p {
			font-family: $font-stack;
			font-size: $medium;
			color: $color-mute;
		}
		
		.path { //row
			
			&:hover {
				cursor: pointer;
				
				p {
					color: $color-highlight;
					font-weight: bold;
				}
			}
		}
			
			.chart {
				height: 100px;
				width: 15%;
				display: inline-block;
			}
	}
	
	.left-gauges {
		
		p {
			transform: rotate(-90deg);
			margin: 0 0 0 0;
		}
		
		.group {
			
			.group-label {
				display: inline-block;
				position: absolute;
				font-size: $medium;
				
				&:hover {
					cursor: pointer;
					color: $color-highlight;
					font-weight: bold;
				}
			}
			
			#g01 {
				top: 25%;
			}
			
			#g02 {
				top: 74%;
			}
		}
	}
	
	.right-gauges {
		
		p {
			transform: rotate(90deg);
			margin: 0 0 0 0;
		}
		
		.group {
			
			.group-label {
				display: inline-block;
				position: absolute;
				font-size: $medium;
				
				&:hover {
					cursor: pointer;
					color: $color-highlight;
					font-weight: bold;
				}
			}
			
			#g03 {
				top: 25%;
				right: 0;
			}
			
			#g04 {
				top: 74%;
				right: 0;
			}
		}
	}
	
	.furnace { //col
		
		#furnace14 { //row
			
			img {
				//height: 100vh;
				//width: auto;
			}
			
			.figure-caption {
				position: absolute;
				top: 100%;
				left: 25%;
			}
		}
	}
}

.footer {
	position: relative;
	text-align: center;
	padding-bottom: $medium;
	margin-top: $x-large;
	
	p {
		font-size: $small;
	}
}
